<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sprint Management System</title>
</head>
<body>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="{{ url_for('bugs')}}">View Bug Tracker</a></li>
    </ul>
    <h1>Create a Sprint</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}
    <form method="POST" action="{{ url_for('sprint')}}">
        {{ form.hidden_tag() }}
        <div>
            {{ form.sprint_name.label }} {{ form.sprint_name }}
        </div>
        <div>
            {{ form.start_date.label }} {{ form.start_date }}
        </div>
        <div>
            {{ form.end_date.label }} {{ form.end_date }}
        </div>
        <div>
            {{ form.description.label }} {{ form.description }}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
</body>
</html>