<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sprint Creation System</title>
</head>
<body>
    <ul>
        <li><a href="/">Home</a></li>
    </ul>
    <h1>Create a Sprint</h1>
    {% if error_message %}
    <p style="color: red;">{{ error_message }}</p>
    {% endif %}
    <form method="POST" action="{{ url_for('sprint')}}">
        {{ form.hidden_tag() }}
        <div>
            {{ form.sprint_name.label }} {{ form.sprint_name }}
        </div>
        <div>
            {{ form.start_date.label }} {{ form.start_date }}
        </div>
        <div>
            {{ form.end_date.label }} {{ form.end_date }}
        </div>
        <div>
            {{ form.description.label }} {{ form.description(style="width: 300px; height: 200px") }}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
</body>
</html>
